<section>
    {{>post-info post}}

    {{#if loggedIn}}
        <form class="comment-form">
            <div>
                <textarea class="ml-5" name="comment-body"></textarea>
            </div>
            <div>
                <button class="btn btn-lg btn-outline-dark" type="submit">Add comment</button>
            </div>
        </form>
    {{/if}}

    {{>comments post.comments}}
    {{#if loggedIn}}
        <script src="/javascript/comments.js"></script>
    {{/if}}
</section>